/* ejercicio1a.css   MV18058  */
fichero {background-color:blue;}
ficha {background-color:red; display:block;} 
nombre {color:white; display:inline;} 
apellido {color:yellow; display:inline;}
direccion {color:pink;font-size:1cm; display:none;}
telefono {color:purple; display:inline;}
email {color:aqua; display:inline;}
website {color:green; display:inline;}